{
    -fx-color-primary: #263238;
    -fx-color-primary-light: #4f5b62;
    -fx-color-primary-dark: #000a12;

    -fx-color-secondary: #b71c1c;
    -fx-color-secondary-light: #f05545;
    -fx-color-secondary-dark: #7f0000;

    -fx-color-font-primary: #ffffff
    -fx-color-font-secondary: #ffffff
}