@import url(Base.css)

.item {
    -fx-background-color: -fx-color-primary-dark;
    -fx-opacity: 0.5;
    -fx-font-size: 30px;
    -fx-text-fill: -fx-color-secondary;
    -fx-padding: 0px 5px 0px 5px;
    -fx-effect: dropshadow(three-pass-box, -fx-color-primary-dark, 10, 0, 0, 2);
}

.item > .label {
    -fx-text-fill: -fx-color-primary-light;
    -fx-text-alignment: left;
}

.item:hover {
    -fx-background-color: -fx-color-secondary-light;
    -fx-opacity: 0.5;
    -fx-scale-x: 1.025;
    -fx-scale-y: 1.025;
    -fx-font-size: 30px;
    -fx-font-color: -fx-color-font-secondary;

    -fx-effect: dropshadow(three-pass-box, -fx-color-primary-dark, 10, 0, 0, 2);
}

.item:hover > .label {
    -fx-text-fill: -fx-color-primary-dark;
}

.item:picked {
    -fx-background-color: -fx-color-secondary-light;
    -fx-font-size: 30px;
    -fx-font-color: -fx-color-font-secondary;

    -fx-effect: dropshadow(three-pass-box, -fx-color-primary-dark, 10, 0, 0, 2);
}