@import url(Base.css)

{
    -item-information-opacity: 0.8;
    -item-information-width: 300px;
    -fx-item-button-size: 45px;
}

.popover > .border  {
    -fx-border-style: none;
    -fx-padding: 0px;
    -fx-border-width: 0;
    -fx-opacity: -item-information-opacity;
    -fx-fill: -fx-color-primary-dark;
    -fx-max-width: -item-information-width;
    -fx-min-width: -item-information-width;
}

.label {
    -fx-text-fill: -fx-color-primary-light;
    -fx-opacity: -item-information-opacity;
}

.item-information-title {
    -fx-font-size: 30px;
    -fx-text-fill: -fx-color-secondary;
}

.item-information-path {
    -fx-font-size: 20px;
}

.item-information-button-box {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.item-information-content-box {
    -fx-padding: 10px 10px 10px 10px;
}

.item-button {
    -fx-opacity: -item-information-opacity;
    -fx-background-color: -fx-color-secondary;
    -fx-background-radius: 100px 100px 100px 100px;
    -fx-font-size: 10px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-width: -fx-item-button-size;
    -fx-min-height: -fx-item-button-size;
    -fx-max-width: -fx-item-button-size;
    -fx-max-height: -fx-item-button-size;
}

.item-button:hover {
    -fx-background-color: -fx-color-secondary-light;
    -fx-background-radius: 100px 100px 100px 100px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.text-field {
    -fx-background-color: linear-gradient(to top, rgb(183, 28, 28, 0.2), rgb(183, 28, 28, 0.0));
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.range-slider {
    -fx-max-width: -fx-item-information-width;
    -fx-alignment:center;
}

.range-slider .track {
    -fx-background-color: -fx-color-primary-light;
}

.range-slider .low-thumb {
    -fx-background-color: -fx-color-primary;
}

.range-slider .high-thumb {
    -fx-background-color: -fx-color-primary;
}

.range-slider .range-bar {
    -fx-background-color: -fx-color-secondary;
}