@import url("Base.css")

.window {
    -fx-background-color: linear-gradient(to bottom right, -fx-color-primary, -fx-color-primary-dark);
}

.window-bar {
    -fx-background-color: -fx-color-primary-dark;
    -fx-opacity: 0.4;
}

.window-bar:hover {
    -fx-background-color: -fx-color-primary-dark;
    -fx-opacity: 0.6;
}

.window-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color-secondary;
}

.window-button:hover {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: -fx-color-secondary;
    -fx-text-fill: -fx-color-secondary;
}